---

apiVersion: v1
kind: Secret
metadata:
  name: drone-secrets
type: Opaque
data:
  DRONE_RPC_SECRET: BASE64_ENCODED_SECRET
  GITHUB_CLIENT_ID: BASE64_ENCODED_GITHUB_OAUTH_CLIENT_ID
  GITHUB_CLIENT_SECRET: BASE64_ENCODED_GITHUB_OAUTH_CLIENT_SECRET
  DRONE_SERVER_HOST: BASE64_ENCODED_DOMAIN_NAME_HOSTING_DRONE

...
